body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/train-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    display: block;
    width: 100%;
}

.ms-card-bg{
    background-color: #2d699b;
    opacity: 0.9;
    box-shadow: 5px 5px 10px black;
}